%header
  .header__left
    イワシー
  .header__middle
    検索
  .header__right
    ログイン
    サイトマップ
.contents
  記事
%footer
  .footer-top
    .footer-top__intro
      %p.footer-top__intro--title
        イワシー（Iwasy）とは
      %p.footer-top__intro--content
        話題のニュースがサクサク読める、無料のニュースまとめアプリ イワシー（Iwasy）。「エンタメ」「スポーツ」から「経済」「国際」「政治」など、幅広い分野の旬のニュースをまとめ読みできます。スマートフォンアプリをダウンロードして今日のニュースをチェックしましょう。
      .footer-top__intro--app
        %img{ src:"http://sride.co/wp-content/uploads/2015/10/app_store.png" }
        %img{ src:"https://www.opal.com.au/asset/8cb53d3e-9018-454e-a4e0-d5ea61d0a84e/Googleplay2.png" }
    %img{ src:"https://webassets.gunosy.com/assets/app-pr-6b6e3e04ce7dc072e786ef2879586b7d963c8e55bdf8be12d9785c7bf1dbcb66.png" }
  .footer-middle
    .footer-middle__sns
      .fb-like facebook
      .tw-like twitter
      .propulsion 「いいね」、フォローをしておすすめの記事をチェックしよう
    %img{ src:"http://doragon.info/wp-content/uploads/2016/08/tentoumusi3.png" }
    %table{ border:"3" }
      %tr{ class: "table__header" }
        %td{ colspan: "3" } イワシーについて
        %td 公式SNS
        %td 関連サイト
      %tr
        %td ランキング一覧
        %td ニュース一覧
        %td 会社概要
        %td Facebook
        %td Game8 (ゲームエイト)
      %tr
        %td カテゴリ一覧
        %td メディア一覧
        %td 利用規約
        %td Twitter
        %td ニュースパス
      %tr
        %td キーワード一覧
        %td サイトマップ
        %td プライバシーポリシー
        %td
        %td タレント辞書

  .footer-bottom
    .footer-bottom__left
      イワシー | 情報を世界中の人に最適に届ける
    .footer-bottom__right
      Copyright © Iwasy Inc. All rights reserved.
